{% extends 'base/base.html' %}


{%  block title %} Search Result {% endblock %}
{% block body %}


<div class="container w-100 h-100">
<div class="row d-flex justify-content-center align-items-center h-100" style="text-align: center">
    <div class="col-12" >
        <h5>خیلی تلاش کردم چیز نشون بدم ولی مثل اینکه خالی جستجو کردی دادااااااااااااااااااااش  <i class="fas fa-frown"></i></h5>
        <p>حالا اگه میخوای برگرد به صفحه اصلی</p>
        <a href="{% url 'posts_archive' %}">اینم لینکش  </a>
        <p> حلال اولسون </p>
    </div>
</div>
</div>






{% endblock %}

