{% load static %}
<!DOCTYPE html>
<html lang="en">
<link>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/all.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/styleTest.css' %}" >
    <link rel="stylesheet" href="{% static 'css/mainmenu.css' %}">

    <title>صفحه اصلی</title>
</head>
<body>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


</body>
</html>

